{% extends 'content-sidebar-S.twig' %}

{% block sidebar %}
    {% include('sidebarNav.twig') %}
{% endblock %}

{% block title %}
	<title>Tableau de bord - Gestion EPI</title>
{% endblock %}


{% block main %}

    <section class="row section">
        
        <div class="col-sm-12 col-md-6">
            <h2>TABLEAU DE BORD <span>{{ session.userStatut }}</span></h2>
            <hr>
            <p>Retrouvez sur le tableau de bord l'ensemble des informations sur l'état de vos équipements sportifs.
            <br>En un coup d'œil vous pouvez voir les tâches qui sont à réaliser, ajouter de nouveau utilisateur et leur attribuer un rôle au sein de la gestion des équipements de votre groupe.</p>
        </div>

        <div class="col-sm-6 col-md-3">
            <p class="btn btn-danger vignette">{{ session.countControleRetard > 1  ? 'RETARDS' : 'RETARD' }}<br><span>{{ session.countControleRetard }}</span></a>
            </p>
            <p class="btn btn-warning vignette">{{ session.countEquiptControler > 1  ? 'CONTRÔLES' : 'CONTRÔLE' }}<br><span>{{ session.countEquiptControler }}</span></a>
            </p>
        </div>
        <div class="col-sm-6 col-md-3">
            <p class="btn btn-success vignette">{{ session.countEquiptValide > 1  ? 'VALIDES' : 'VALIDE' }}<br><span>{{ session.countEquiptValide }}</span></a>
            </p>

            <p class="btn btn-primary vignette">{{ session.countEquiptReparer > 1  ? 'RÉPARATIONS' : 'RÉPARATION' }}<br><span>{{ session.countEquiptReparer }}</span></a>
            </p>
        </div>
    </section>

    {% if session.userStatut == 'Responsable' %}
    <!-- Gestion utilisateur RESPONSABLE -->    
        <section class="row justify-content-center section">

            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Liste des utilisateurs</h3>
                    </div>
                    <div class="card-body">
                        <table class="users">
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <!-- Form STATUT User  --> 
                                    <form method="post" action="upUser" id="upUserForm" enctype="multipart/form-data"  data-parsley-validate>
                                        <td><a href="mailto:{{ user.getMail }}">{{ user.getName }} {{ user.getFirstname }}</a></td>
                                       
                                        <td>
                                            <select class="form-control" id="userStatut" name="userStatut" value ="{{ user.getStatut }}" required>
                                                <option value="{{ user.getStatut }}">{{ user.getStatut }}</option>
                                                 <option value="">--------</option>
                                                <option value="Responsable">Responsable</option>
                                                <option value="Controleur">Controleur</option>
                                                <option value="Visiteur">Visiteur</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="hidden" name="userId" id="userId" value="{{ user.getId }}"/>
                                            <input type="hidden" name="token" id="token" value="{{ session.dashboard_token }}"/>
                                            <button class="btn btn-success btn-block" type="submit" data-toggle="tooltip" data-placement="top" title="Changer le statut de l'utilisateur de votre groupe."><i class="fas fa-pencil-alt"></i></button></td>
                                    </form>
                                    <!-- Form SUPPRESSION User --> 
                                    <form method="post" action="delUser" id="delUserForm" enctype="multipart/form-data" data-parsley-validate>
                                        <td>
                                            <input type="hidden" name="userId" id="userId" value="{{ user.getId }}"/>
                                            <input type="hidden" name="token" id="token" value="{{ session.dashboard_token }}"/>
                                            <button  id="delUserBtn"class="btn btn-danger btn-block" type="submit" data-toggle="tooltip" data-placement="top" title="Supprimer l'utilisateur du groupe. Les controles qu'il aura effectué seront conservés en son nom."><i class="fas fa-trash"></i></button>
                                        </td>
                                    </form>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Form AJOUT User --> 
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Ajouter un utilisateur <span data-toggle="tooltip" data-placement="top" title="Ajouter un nouvel utilisateur pour la gestion de vos contrôles EPI au sein de votre groupe."><i class="fas fa-info-circle"></i></span></h3>
                    </div>
                    <div class="card-body">
                        <form id="addUserForm" method="post" action="addUser"  data-parsley-validate>

                            <!-- User -->
                            <div class="form-group">
                                <label for="userName" id="labelUserName" class="sr-only">Nom</label>
                                <input type="text" id="userName" name="userName" class="form-control" placeholder="Nom"  minlength="2" maxlength="50" required>
                            </div>

                            <div class="form-group">
                                <label for="userFirstname" class="sr-only">Prénom</label>
                                <input type="text" id="userFirstname" name="userFirstname" class="form-control" placeholder="Prénom"  minlength="2" maxlength="50" required>
                            </div>

                            <div class="form-group">
                              <label for="userMail" class="sr-only">Email</label>
                              <input type="email" id="userMail" name="userMail" class="form-control" placeholder="Adresse mail" required>
                            </div>

                            <div class="form-group">
                                <label for="userStatut" class="sr-only">Statut</label>
                                <select class="form-control" id="userStatut" name="userStatut" required>
                                    <option value="">Statut utilisateur</option>
                                    <option value="Responsable">Responsable</option>
                                    <option value="Controleur">Controleur</option>
                                    <option value="Visiteur">Visiteur</option>
                                </select>
                            </div>

                            <input type="hidden" name="token" id="token" value="{{ session.account_token }}"/>
                            <button class="btn btn-primary btn-block" type="submit">Ajouter Utilisateur</button>
                        </form>    
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}

{% block javascript %}
    <script src="public/js/formDashboard.js"></script>
{% endblock %}

