{% extends 'content-sidebar-S.twig' %}

{% block sidebar %}
    {% include('sidebarNav.twig') %}
{% endblock %}

{% block title %}
	<title>Equipement - Gestion EPI</title>
{% endblock %}

{% block headerpage %}

	<h1 class="mt-4">{{ session.groupeStatut }} : {{ session.groupeName }}</h1>
    <div class="alert alert-secondary" role="alert">
     <h2>GESTION DE L'ÉQUIPEMENT</h2>
    </div>

{% endblock %}


{% block main %}
        
        <h3>{{ equipt.getCategorie }} - {{ equipt.getActivite }}</h3>
   
    <section class="row justify-content-around section">

        <div class="card-deck">
            <div class="card card-image">
                <div class="card-img-ribbon">

                    {% if equipt.getStatut == 'Valide' %}
                       <div class="ribbon bg-success">
                    {%  elseif equipt.getStatut == 'À contrôler' %}  
                    <div class="ribbon bg-warning"> 
                    {%  elseif equipt.getStatut == 'À réparer' %}
                    <div class="ribbon bg-warning">
                    {% else %}
                    <div class="ribbon bg-danger">
                    {% endif %}
                        <font style="vertical-align: inherit;">
                        {{ equipt.getStatut }}
                        </font>
                    </div>
                </div>
                <img src="https://epi.pass-sport-nature.fr/public/img/equipement/{{ equipt.getImage }}" class="card-img-top" alt="Photo de l'équipement">
                <div class="card-body">
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="{{ equipt.getNotice }}" role="button">Notice fournisseur</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Informations</h4>
                </div>
                <div class="card-body">
                    <p><strong>Fabriquant :</strong> {{ equipt.getFabriquant }}</p>
                    <p><strong>Modèle :</strong> {{ equipt.getModele }}</p>
                    <p><strong>Référence :</strong> {{ equipt.getReference}}</p>
                    <p><strong>Série :</strong> {{ equipt.getSerie}}</p>
                    <p><strong>Matière :</strong><br> {{ equipt.getMatiere}}</p>
                </div>
            </div>
    
            <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Particularités</h4>
                </div>
                <div class="card-body">
                    <p><strong>Taille :</strong> {{ equipt.getTaille }}</p>
                    <p><strong>Couleur :</strong> {{ equipt.getCouleur }}</p>
                    <p><strong>Marquage :</strong> {{ equipt.getMarquage }} - {{ equipt.getMarquageLieu }}</p>
                </div>
            </div>
          
            <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Chronologie</h4>
                </div>
                <div class="card-body">
                    <p><strong>Fabrication :</strong> {{ equipt.getFabrication }}</p>
                    <p><strong>Achat :</strong> {{ equipt.getAchat }}</p>
                    <p><strong>Première utilisation :</strong> {{ equipt.getUtilisation}}</p>
                    <p><strong>Mise au rebut Théorique :</strong> {{ equipt.getRebutTheorique }}</p>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
              </div>
            </div>
        </div>
    </section>

    <!-- Visuel des dernières DONNEES -->    
    <section class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Contrôle Sécurité</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p><strong>Prochain contrôle :</strong> {{ equipt.getProchainControle}}</p>
                        </div>
                        <div class="col-6">
                            <p><strong>Fréquence des contrôles :</strong> {{ equipt.getFrequenceControle }}</p>
                        </div>
                    </div>

                    <div>
                    <table id="table_equipmt" class="display table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Visuel</th>
                                <th>Fonctionnel</th>
                                <th>Contrôleur</th>
                                <th>Observations</th>
                                <th>Photo</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                <tr>
                                    <td>{{ control.getDate }}</td>
                                    <td>{{ control.getVisuel }}</td>
                                    <td>{{ control.getFonctionnel }}</td>
                                    <td>{{ control.getControlUser }}</td>
                                    <td>{{ control.getObservations }}</td>
                                    <td>
                                        <a role="button" class="btn btn-primary" href="{{ control.getImage }}" title="Voir la photo">
                                          <i class="fas fa-camera"></i></i>
                                        </a>
                                    </td>
                                </tr>
                            {% for control in controls %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascript %}
    <script src="public/js/sideBarNav.js"></script>
{% endblock %}

