{% extends 'content-sidebar-S.twig' %}

{% block sidebar %}
    {% include('sidebarNav.twig') %}
{% endblock %}

{% block title %}
	<title>Equipements - Gestion EPI</title>
{% endblock %}


{% block main %}

    <section class="row section">
        
        <div class="col-sm-12 col-md-6">
            <h2>Équipements</h2>
            <hr>
           <p>Retrouvez l'ensemble de vos équipements sportifs sur cette page.
            <br>En un coup d'oeil vous pouvez voir l'état de chacun d'eux, les tâches qui sont à réaliser, les réparations ou les contrôles sécurité à réaliser. Ajoutez également vos nouveaux équipements !</p>
        </div>
        <div class="col-sm-6 col-md-3">
            <p class="btn btn-danger vignette">{{ session.countControleRetard > 1  ? 'RETARDS' : 'RETARD' }}<br><span>{{ session.countControleRetard }}</span></a>
            </p>
            <p class="btn btn-warning vignette">{{ session.countEquiptControler > 1  ? 'CONTRÔLES' : 'CONTRÔLE' }}<br><span>{{ session.countEquiptControler }}</span></a>
            </p>
        </div>
        <div class="col-sm-6 col-md-3">
            <p class="btn btn-success vignette">{{ session.countEquiptValide > 1  ? 'VALIDES' : 'VALIDE' }}<br><span>{{ session.countEquiptValide }}</span></a>
            </p>

            <p class="btn btn-primary vignette">{{ session.countEquiptReparer > 1  ? 'RÉPARATIONS' : 'RÉPARATION' }}<br><span>{{ session.countEquiptReparer }}</span></a>
            </p>
        </div>
    </section>

    <!-- Visuel des dernières DONNEES -->    
    <section class="row justify-content-center section">
        <div class="card">
            <div class="card-header">
              <h4 class="card-title">Liste des équipements</h4>
            </div>
            <table id="tableau" class="display table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Statut</th>
                            <th>Activité</th>
                            <th>Catégorie</th>
                            <th><span data-toggle="tooltip" data-placement="top" title="La durée de vie est le temps d'utilisation donnée par la notice en fonction de sa matière de composition.">Durée de vie 
                            <i class="fas fa-info-circle"></i>
                            </span></th>
                            <th>Prochain contrôle</th>
                            <th>Gestion</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for equipt in equipts %}
                            <tr>
                                <td>
                                    {% if equipt.getStatut == 'À contrôler' %}
                                        <a role="button" class="btn btn-danger" href="nxControl/id/{{ equipt.getId }}" data-toggle="tooltip" data-placement="top" title="Votre équipement doit être controlé !">
                                        <i class="fas fa-exclamation-triangle"></i>
                                        </a>
                                    {%  elseif equipt.getStatut == 'À réparer' %}
                                         <a role="button" class="btn btn-warning" href="equipement/id/{{ equipt.getId }}" data-toggle="tooltip" data-placement="top" title="Votre équipement doit être réparé !">
                                        <i class="fas fa-wrench"></i>
                                        </a>
                                    {% else %}
                                        <a role="button" class="btn btn-success" href="equipement/id/{{ equipt.getId }}" data-toggle="tooltip" data-placement="top" title="Votre équipement est opérationnel !">
                                        <i class="fas fa-thumbs-up"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                <td>{{ equipt.getActivite }}</td>
                                <td>{{ equipt.getCategorie }}</td>
                                <td>
                                    {% if equipt.getDureeVie == '' %}
                                        <p>Durée illimitée</p>
                                    {% else %}
                                        <div class="progress">
                                            <div class="progress-bar {{ equipt.getColorBar}} 
                                            " role="progressbar" style="width:{{ equipt.getBarDureeVie }}%" aria-valuenow="{{ equipt.getBarDureeVie }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    {% endif %}

                                </td>
                                <td>{{ equipt.getProchainControle }}</td>
                                <td>
                                    <!-- VOIR -->
                                    <a role="button" class="btn btn-success" href="equipement/id/{{ equipt.getId }}" data-toggle="tooltip" data-placement="top" title="Cliquez pour voir de détails de l'équipement.">
                                      <i class="fas fa-search"></i>
                                    </a>
                                    <!-- CONTROLER -->
                                     <a role="button" class="btn btn-success" href="nxControl/id/{{ equipt.getId }}" data-toggle="tooltip" data-placement="top" title="Cliquez pour effectuer un controle sécurité de l'équipement.">
                                      <i class="fas fa-tools"></i>
                                    </a>
                                    <!-- SUPPRIMER -->
                                    <a role="button" class="btn btn-danger" href="delEquipt/id/{{ equipt.getId }}"
                                    data-toggle="tooltip" data-placement="top" title="Cliquez pour supprimer DÉFINITIVEMENT l'équipement !'" onclick="javascript: return confirm('Supprimer DÉFINITIVEMENT équipement ?');">
                                    <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </section>

{% endblock %}

{% block javascript %}
    <script src="vendor/datatables/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="public/js/dataTables.js"></script>

{% endblock %}

