
{% extends 'content-sidebar-S.twig' %}


{% block sidebar %}
    {% include('sidebarNav.twig') %}
{% endblock %}


{% block title %}
    <title>Contrôle - Gestion EPI</title>
{% endblock %}


{% block headerpage %}

    <h1 class="mt-4">{{ session.groupeStatut }} : {{ session.groupeName }}</h1>
    <div class="alert alert-secondary" role="alert">
     <h2>CONTRÔLE ÉQUIPEMENT</h2>
    </div>

{% endblock %}


{% block main %} 

    <!-- Form AJOUT Control --> 
    <section class="row justify-content-center section">
        <div class="col col-8">

            <form id="form-creatControl" method="post" action="creatControl/id/{{ equipt.getId }}"  data-parsley-validate>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="visuelControle">Visuel</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="visuelControle" name="visuelControle"required>
                            <option value="RAS">RAS</option>
                            <option value="Défaut mineur">Défaut mineur</option>
                            <option value="Défaut majeur">Défaut majeur</option>   
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="fonctionnelControle">Fonctionnel</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="fonctionnelControle" name="fonctionnelControle"  required>
                            <option value="RAS">RAS</option>
                            <option value="Défaut mineur">Défaut mineur</option>
                            <option value="Défaut majeur">Défaut majeur</option>  
                        </select>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="observationControle">Observations</label>
                    <div class="col-sm-8">
                        <textarea name="observationControle" id="observationControle" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="statut">Statut <span class="required">*</span></label>
                    <div class="col-sm-8">
                       <select class="form-control" id="statut" name="statut" required>
                            <option value="Valide">Valider</option>
                            <option value="À réparer">À réparer</option>
                            <option value="Mise au rebus">Mise au rebus</option>
                            <option value="Perdu">Perdu</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="imageControle" >Image</label>
                    <div class="col-sm-8">
                        <input type="file" id="imageControle" name="imageControle" accept=".jpg, .jpeg, .png" class="form-control">
                        <small>Fichier (jgp, png) - Max 1Mo</small>
                    </div>
                </div>

                <input type="hidden" name="equipId" id="equipId" value="{{ equipt.getId }}"/>
                <input type="hidden" name="token" id="token" value="{{ session.nxControl_token }}"/>

                <div class="right">
                    <button id="addControl-btn" class="btn btn-primary" type="submit">Valider</button>
                    <p><span class="required">*</span> Champs obligatoires</p>
                </div>   
                
            </form>    
        </div>
    </section>

{% endblock %}

{% block javascript %}
      
{% endblock %}

